.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(66, 120, 141);
}

.mainContainer {
  display: flex;
  background-color: rgb(66, 120, 141);
  padding: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.buttonLink {
  border-radius: 8px;
  padding: 6px;
  
}

.select {
  border-radius: 8px;
  margin: 0 8px;
  padding: 6px;
}
